.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    height : 50px;
    position:fixed;
    top:0;
    left : 0;
    width: 100%;
}
.header-left-section{
    
}